.DS_Store
*.class
*.swp
a.out
*.o
*.a
build
node_modules
jspm_packages
typings
target
workbench.xmi
workspace.xml
/C++/NetBeans Projects/TestNetBeansApplication/build/
/C++/NetBeans Projects/TestNetBeansApplication/dist/
.idea
.idea/
*.xmi
